@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
.latexcod {
    background-color: #ebfafa;
    font-family: 'Akaya Kanadaka', cursive;
    border: 2px dashed black;
}

.form {
    background-color: #edeff0;
    margin: auto;
    border: 2px solid black;
}

body {
    background-color: #1a3d39;
    margin-top: 0;
    margin-left: 0;
    color: white;
    overflow-x: hidden;
    width: 100%;
    font-size: large;
}

.my_link a {
    text-decoration: none;
    color: #faceac;
    font-size: larger;
}

a:hover{
    color: #a79d8a
}
a:active{
    color: rgb(189, 189, 127);
}


header{
    display: flex;
    background-color: #022630;
    height: 5%;
    position: sticky;
    top: 0;
    align-items: center;
} 

footer{
    background-color: aqua;
}
.header_contents{
    font-size: 20px;
    line-height: 4.5;
    margin: auto;
}

.ocr img{
    background-color: aqua;
    padding: 5px;
    margin: 5px;
    border: 3px solid black;
    float: left;
}

.logo_style{
    padding-left: 5%;
}

.reclama{
    position: fixed;
    text-align: center;
    background-color: crimson;
    border-radius: 20%;
    top: 250px;
    right: 0;
}

.con{
    display: block;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding-left: 5px;
    outline: 2px solid #000; /* Чёрная рамка */
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
    border-color: rgb(1, 13, 13);
}


#contacts li{
    position: relative;
    display: block;
    top: 5px;
    font-size: 25px;
}


#contacts li::before{
    font-size: 18px;
    content: '🩹';
    position: absolute;
    left: -35px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: rgb(82, 131, 192);
    border-radius: 30%;
}

input::placeholder {
    color: #daa881;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}

input:focus{
    color: #faceac;
}
input{
    color: white;
    font-family: 'Akaya Kanadaka', cursive;
    border-style:ridge;
    border-color:#daa881;
    background-color: #122b28;
    margin: 5px;
    padding: 5px;
}