.grid_container_main {
    display: grid;
    grid-template-columns: 1fr 4fr  1fr;
    grid-template-areas:
    "h h h"
    "sa m ad"
    "f f f"
}

.main-mark {
    grid-area: m;
}

.header-mark {
    grid-area: h;
}

.sidebar-mark {
    grid-area: sa;
}

.add-mark {
    grid-area: ad;
}

.footer-mark {
    grid-area: f;
}

.block_1 {
    background-color: #3d8388;
    text-align: center;
}



@media screen and (max-width: 1000px) {
    .grid_container_main {
        grid-template-columns: 1fr 5fr ;
        grid-template-areas:
        "h h"
        "sa m"
        "ad f"
    }
}


@media screen and (max-width: 768px) {
    .grid_container_main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "h"
        "m"
        "sa"
        "ad"
        "f"
    }
}