@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body {
    background-color: #252424;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    color: white;
    font-size: 20px;
}

.content_latex button {
    color: black;
    border-radius: 8px;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 20px;
    border: 1px solid #45f3ff;
}

.btn_1 {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 12px;
    color: #faceac;
    position: relative;
    background: #1a3d39;
    box-shadow: inset 0px 0px 12px rgba(73, 83, 64, 0.25);
    border: 1px solid;
    font-family: 'Akaya Kanadaka', cursive;
    cursor: pointer;
}

.btn_1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(255, 255, 255, 0.3);
    transition: all 1.3s ease;
}


.btn_1:hover::before {
    height: 100%;
    transition: all 0.5s;
    opacity: .8;
    color: #cdab6b;
}

.btn_2 {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 12px;
    color: #faceac;
    position: relative;
    background: linear-gradient(315deg, #ffbc00, #ff0058);
    box-shadow: inset 0px 0px 12px rgba(73, 83, 64, 0.25);
    border-radius: 24px;
    font-family: 'Akaya Kanadaka', cursive;
    cursor: pointer;
}

.btn_2::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 24px;
    transition: all 1.3s ease;
}


.btn_2:hover::before {
    width: 100%;
    transition: all 0.5s;
    opacity: .8;
    color: #cdab6b;
}


.btn_3 {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 12px;
    color: #faceac;
    position: relative;
    border-radius: 24px;
    font-family: 'Akaya Kanadaka', cursive;
    cursor: pointer;
}

.btn_3::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 24px;
    transition: all 1.3s ease;
}


.btn_3:hover::before {
    height: 100%;
    transition: all 0.5s;
    opacity: .8;
    color: #cdab6b;
}


.logo a {
    text-decoration: none;
    font-family: 'Cookie', cursive;
    /*font-family: 'Akaya Kanadaka', cursive;*/
    font-size: 60px;
    /*color: #ecd472;*/
    /*color: #ffeab5;*/
    /*color: #e8d09b;*/
    /*сolor: white;*/
    /*color: #ffdd89;*/
    color: #f5f5dc;

    /*color: #fff;*/

}

/* .form {
    background-color: #edeff0;
    margin: auto;
    border: 2px solid black;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /*background-color: #022630;*/
    background-color: #53abb7;
    /*background-color: rgba(11, 44, 44, 0.91);*/
}

.nav-links a {
    /*color: #faceac;*/
    color: #c5b07d
}

.menu {
    display: flex;
    font-size: 20px;
}


.menu li {
    padding: 5px 15px;
}

.menu li a:hover {
    transition: all 0.3s;
    color: #cdab6b
}


#checkbox_toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.hamburger-line {
    margin: 0;
    background-color: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamburger-line::before,
.hamburger-line::after {
    background-color: white;
    content: '';
    display: block;
    position: absolute;
    transition: all .3s;
    width: 100%;
    height: 100%;
}

.hamburger-line::before {
    top: 5px;
}

.hamburger-line::after {
    top: -5px;
}

@media screen and (max-width: 1100px) {
    .btn::before {
        display: none;
    }

    .menu {
        display: none;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        background-color: #226872;
        text-align: center;
        right: 0;
        left: 0;
        margin-top: 30px;
    }

    .menu li a {
        color: #cdab6b;
        font-size: 24px;
        display: block;
        padding: 15px;
    }

    .menu li {
        color: #4d045f;
        display: flex;
        justify-content: center;

    }

    .menu li:hover {
        transition: all 0.3s;
        color: #cdab6b
    }

    #checkbox_toggle:checked ~ .menu {
        display: block;
        max-height: 100%;
        transition: all .5s;
    }

    .hamburger {
        display: block;
        padding: 20px 25px;
    }

    #checkbox_toggle:checked ~ .hamburger .hamburger-line {
        background-color: transparent;
    }

    #checkbox_toggle:checked ~ .menu {
        opacity: 0.9;
    }

    #checkbox_toggle:checked ~ .hamburger .hamburger-line::before {
        transform: rotate(-45deg);
        top: 0;
    }

    #checkbox_toggle:checked ~ .hamburger .hamburger-line::after {
        transform: rotate(45deg);
        top: 0;
    }
}


:root {
    --white: #f9f9f9;
    --lightwhite: #ffffff;
    --darkgreen: #293f3c;
    --lightgreen: #88a200;
    --darkgrey: 162120;
}

.gal {
    color: #212121;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.gal > div {

    overflow: hidden;

}

.gal img {
    padding: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-color: white;
    border-width: 10px;
    border-radius: 25px;
}

.about_card_holder_1 {
    /*grid-area: h1;*/
    grid-row: 1 / 3;
}

.about_card_holder_2 {
    /*grid-area: h2;*/
    grid-row: span 1;
}

.about_card_holder_3 {
    /*grid-area: h3;*/
    grid-row: span 3;
}

.about_card_holder_4 {
    /*grid-area: h4;*/
}

.about_card_holder_5 {
    /*grid-area: h4;*/
    grid-column: span 2;

}

.gal > div:hover p {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(#fff, #212121);

    text-shadow: 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black;
    font-size: 18px;
    color: white;
    transition: transorm, 0.5s;
    transform: translateY(-100%);
}

.bl_1 {
    width: 100%;
    background: linear-gradient(#c26262, #fff);
}

.about_card_holder {
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}


.box {
    width: 200px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
}

.box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}

.box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
    border-color: #212121;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
    border-color: #212121;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}

.btn {
    text-decoration: none;
    font-family: 'Akaya Kanadaka', cursive;
    /*font-family: 'Cookie', cursive;*/
    /*color: #ecd472;*/
    font-size: 15px;
    /*color: #f5ebcf;*/
    color: #f5f5dc;
    /*сolor: #f5f5dc;*/
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}

/*GRID*/

.grid_container_main {
    display: grid;

    grid-template-columns: 8fr 2fr;
    grid-template-areas:
    "h h"
    "m c"
    "f f";
}

.main-mark {
    padding: 20px;
    grid-area: m;
}



.cat-mark {
    grid-area: c;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cat-mark-content {
    border-radius: 10px;
    color: #212121;
    text-align: center;
    font-family: 'Cookie', cursive;
    background-color: #f5f5dc;
}

.cat-img img {
    border: 1px solid #212121;
    border-radius: 60px;
    margin: 5px;
    width: 90%;
    height: 90%;
    transition: all .5s ease-in-out;

}

.cat-img img:hover {
    box-shadow: 0px 5px 5px black;
    width: 95%;
}


.header-mark {
    grid-area: h;
}

.footer-mark {
    grid-area: f;
}


@media screen and (max-width: 1000px) {
    .grid_container_main {
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
        "h h"
        "m c"
        "f f "
    }

    .main-content .download_latex ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "l1"
        "l2"
        "l3"
        "l4"
    }
    /*.main-content .download_latex ul {*/
    /*    grid-template-columns: auto;*/
    /*}*/

    /*.main-content .download_latex ul li:nth-child(1) {*/
    /*    grid-column: span 4;*/
    /*}*/
    /*.main-content .download_latex ul li:nth-child(2) {*/
    /*    grid-column: span 2;*/
    /*    grid-row: span 1;*/
    /*}*/
    /*.main-content .download_latex ul li:nth-child(3) {*/
    /*    grid-column: span 1;*/
    /*    grid-row: span 2;*/
    /*}*/
    /*.main-content .download_latex ul li:nth-child(4) {*/
    /*    grid-column: span 2;*/
    /*    grid-row: span 2;*/
    /*    border: 1px solid white;*/
    /*}*/
}

@media screen and (max-width: 768px) {
    .cat-mark {
        display: none;
    }

    .grid_container_main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "h"
        "m"
        "f"
    }

}


/*ICONS*/
.centering_icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_for_icons {
    display: grid;
    grid-template-columns: 30px 30px 30px 30px 30px;
    grid-gap: 10px;
    list-style: none;
}

.container_for_icons li {
    margin: 10px;
}

.container_for_icons a {
    text-decoration: none;
    background: #f1f1f1;
    color: black;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: -5px 5px 20px -5px #010101;
    position: relative;
    overflow: hidden;
}

.container_for_icons a i {
    font-size: 15px;
    transition: 0.3s ease;
}

.container_for_icons a:before {
    position: absolute;
    content: "";
    width: 120%;
    height: 120%;
    background: linear-gradient(45deg, #0faae7, #83e1ef);;
    bottom: 100%;

}

.container_for_icons a:hover i {
    transform: scale(1.3);
}

.container_for_icons a:hover:before {
    animation-name: hover;
    animation-duration: 0.6s;
    bottom: 0;
}

@keyframes hover {
    0% {
        bottom: 100%;
    }
    30% {
        bottom: 60%;
    }
    60% {
        bottom: 30%;
    }
    100% {
        bottom: 0%;
    }
}


/*FOOTER*/
.content_grid_footer {
    display: grid;
    justify-content: end;
    align-content: end;
    min-height: 100px;
    width: 100%;
    /*position: sticky;*/
    /*top: 0;*/
}


footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: #53abb7;
}

footer .container_footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

footer .container_footer .sec h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container_footer .sec h2::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 60px;
    height: 2px;
    background: #c5b07d;

}

html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

footer .container_footer .sec p {
    color: white;
    padding-right: 50px;
}

.quicklinks {
    position: relative;

}

.quicklinks li {
    list-style: none;
}

.quicklinks li a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quicklinks li a:hover {
    color: #cdab6b;

}

.info {
    position: relative;

}

.info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

.info li span {
    color: #fff;
}

.info a {
    text-decoration: none;
    color: #fff;
}

.info a:hover {
    color: #cdab6b;
}

.copyrightText {
    width: 100%;
    background-color: #53abb7;
    padding-bottom: 8px;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    footer {
        padding: 40px;
    }

    footer .container_footer {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 768px) {
    footer .container_footer {
        grid-template-columns: 1fr;
    }
}

.aboutus {
    word-break: break-all;
}


.main-content * {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
}

.main-content .download_latex ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "l1 l2 l3 l4";
}

.main-content .download_latex ul li:nth-child(1) {
    grid-area: l1;
}
.main-content .download_latex ul li:nth-child(2) {
    grid-area: l2;
}
.main-content .download_latex ul li:nth-child(3) {
    grid-area: l3;

}
.main-content .download_latex ul li:nth-child(4) {
    grid-area: l4;
}

.main-content .download_latex ul li {
    padding-left: 8px;
}

.main-content .download_latex ul li .name {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-areas:
    "ic na"
    "t t"
}

.main-content .download_latex ul li .name i {
    grid-area: ic;
}

.main-content .download_latex ul li .name p {
    grid-area: na;
}

.main-content .download_latex ul li .dist-info {
    text-align: left;
    grid-area: t;
}

.line {
    width: 100%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
}


/*CODE*/

.box-for-code {
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
    grid-template-areas:
    "latex_code vertical_line latex_code_result";
}

.latex-code {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5dc;
    grid-area: latex_code;
    border-radius: 7px;
    min-height: 40px;
    color: #212121;
    padding: 5px 10px;
    text-align: center;
    border: 3px solid black;
}
.vertical-line {
    grid-area: vertical_line;
}
.latex-result {
    grid-area: latex_code_result;
    background-color: #21959a;
    border-radius: 7px;
    min-height: 40px;
    padding: 5px 10px;
    text-align: center ;
    color: #f5f5dc;
    border: 3px solid black;

}

/*CONVERTER*/

.frame-latex {
    display: grid;
    margin-top: 5px;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-areas:
    "input vertical_line output";
}

.frame-latex * {
    border-radius: 30px;
    height: 400px;
    width: 100%;
}

.input-box {
    grid-area: input;
}

.input-box textarea {
    resize: none;
    outline: none;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 20px;
    color: #212121;
    background-color: #f5f5dc;
    padding: 10px 15px;
    /*box-shadow: 0px 5px 5px ;*/
    /*filter: blur(5px);*/
    box-shadow: 0 5px 10px black;
}

.input-box textarea::placeholder {
    color: #678585;

}

.output-box {
    grid-area: output;
    background-color: #21959a;
    padding: 10px 15px;
    /*box-shadow: 0px 5px 5px #21959a;*/
    /*filter: blur(5px);*/
    box-shadow: 0 5px 10px black;
}

.compile {
    margin-top: 5px;
    text-decoration: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 20px;
    background-color: #21959a;
    border: 2px solid #f5f5dc;
    transition: all .5s ease-in-out;
}

.compile:hover {
    cursor: auto;
    background-color: #23655e;

}



main p {
    text-indent: 20px; /* Отступ первой строки в пикселах */
    padding-bottom: 10px;
}


















