.container_for_glassmorphism > * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya Kanadaka', cursive  ;
}

.container_for_glassmorphism{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 48px 0;
}

.box{
    z-index: 100;
}

.container_for_glassmorphism .box {
    position: relative;
    width: 320px;
    height: 480px;
    justify-content: center;
    align-items: center;
    margin:40px 30px;
    transition: 0.5s;
}


.container_for_glassmorphism .box::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.container_for_glassmorphism .box::after {
    position: absolute;
    z-index: -1;
    content: '';
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
}

.container_for_glassmorphism .box:hover:before,
.container_for_glassmorphism .box:hover:after
{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}
.container_for_glassmorphism .box:nth-child(1):before,
.container_for_glassmorphism .box:nth-child(1):after
{
    background: linear-gradient(315deg,#ffbc00, #ff0058);
}
.container_for_glassmorphism .box:nth-child(2):before,
.container_for_glassmorphism .box:nth-child(2):after
{
    background: linear-gradient(315deg,#03a9f4, #ff0058);
}
.container_for_glassmorphism .box:nth-child(3):before,
.container_for_glassmorphism .box:nth-child(3):after
{
    background: linear-gradient(315deg,#4dff03, #00d0ff);
}

.container_for_glassmorphism .box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    pointer-events: none;
}



.container_for_glassmorphism .box span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}


.container_for_glassmorphism .box:hover span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.container_for_glassmorphism .box span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    animation-delay: -1s;
}


.container_for_glassmorphism .box:hover span::after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
@keyframes animate {
    0%, 100%
    {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
}

.box {
    display: flex;
    align-items: center;
}
.container_for_glassmorphism .box .content {
    position: relative;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    color: #fff;
    z-index: 10000;
}

.container_for_glassmorphism .box:hover .content
{
    left: -25px;
    padding: 60px 40px;
}

.container_for_glassmorphism .box .content a {
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    font-weight: 700;
}