@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

.latexcod {
    background-color: #ebfafa;
    font-family: 'Akaya Kanadaka', cursive;
    border: 2px dashed black;
}



/* .form {
    background-color: #edeff0;
    margin: auto;
    border: 2px solid black;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a3d39;
    color: white;
    min-width: 270px;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #022630;
}

.nav-links a {
    color: #faceac;
}

.menu {
    display: flex;
    font-size: 20px;
}


.menu li {
    padding: 5px 15px;
}

.menu li a:hover {
    transition: all 0.3s;
    color: #cdab6b
}


#checkbox_toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.hamburger-line {
    margin: 0;
    background-color: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamburger-line::before,
.hamburger-line::after {
    background-color: white;
    content: '';
    display: block;
    position: absolute;
    transition: all .3s;
    width: 100%;
    height: 100%;
}

.hamburger-line::before {
    top: 5px;
}

.hamburger-line::after {
    top: -5px;
}


@media screen and (max-width: 800px) {
    .menu {
        display: none;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        background-color: #022630;
        text-align: center;
        right: 0;
        left: 0;
        margin-top: 10px;
    }

    .menu li a {
        color: #cdab6b;
        font-size: 24px;
        display: block;
        padding: 15px;
    }

    .menu li {
        color: #4d045f;
        display: block;
        padding: 15px;
    }

    .menu li:hover {
        transition: all 0.3s;
        color: #cdab6b
    }

    #checkbox_toggle:checked~.menu {
        display: block;
        max-height: 100%;
        transition: all .5s;
    }

    .hamburger {
        display: block;
        padding: 20px 25px;
    }

    #checkbox_toggle:checked~.hamburger .hamburger-line {
        background-color: transparent;
    }
    #checkbox_toggle:checked~ .menu {
        opacity: 0.9;
    }
    #checkbox_toggle:checked~.hamburger .hamburger-line::before {
        transform: rotate(-45deg);
        top: 0;
    }

    #checkbox_toggle:checked~.hamburger .hamburger-line::after {
        transform: rotate(45deg);
        top: 0;
    }
}

/* a:active{
    color: rgb(189, 189, 127);
} */

.mega_a{
    display: flex;
    flex-wrap: wrap;
}
.it-100 {
    text-align: center;
    color: #cdab6b;
    background-color: #ebfafa;

    flex: 1 1 100%;
}

.it-25 {
    text-align: center;
    background-color: #4d045f;
    color: #cdab6b;
    flex: 1 1 25%;
}

.it-75 {
    text-align: center;
    background-color: #fff;
    color: #cdab6b;
    flex: 1 1 75%;
}
.it-50 {
    text-align: center;
    background-color: #faceac;
    color: #cdab6b;
    flex: 1 1 50%;
}

.it-33-img {
    flex: 1 1 33%;
}

.gallery_img {
    display: block;
    width: 100%;
}

@media screen and (max-width: 1000px)  {
    .it-75 {
        flex: 1 1 50%;
    }
    .it-25 {
        flex: 1 1 50%;
    }
    .it-33-img {
        flex: 1  50%
    }
}
@media screen and (max-width: 500px)  {
    .it-75 {
        flex: 1 1 100%;
    }
    .it-25 {
        flex: 1 1 100%;
    }
    .it-50 {
        flex: 1 1 100%;
    }
    
    .it-33-img {
        flex: 1 1 100%
    }
}

/* footer{
    background-color: aqua;
} */

/* .header_contents{
    display: flex;
    font-size: 20px;
    line-height: 4.5;
    margin: auto;
} */

/* header > * + * {
    margin-right: 2%;
}

header :last-child {
    margin-right: 0;
} */
.ocr img {
    background-color: aqua;
    padding: 5px;
    margin: 5px;
    border: 3px solid black;
    float: left;
}



.reclama {
    position: fixed;
    text-align: center;
    background-color: crimson;
    border-radius: 20%;
    top: 250px;
    right: 0;
}

.con {
    display: block;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding-left: 5px;
    outline: 2px solid #000;
    /* Чёрная рамка */
    border: 3px solid #fff;
    /* Белая рамка */
    border-radius: 10px;
    /* Радиус скругления */
    border-color: rgb(1, 13, 13);
}


#contacts li {
    position: relative;
    display: block;
    top: 5px;
    font-size: 25px;
}


#contacts li::before {
    font-size: 18px;
    content: '🩹';
    position: absolute;
    left: -35px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: rgb(82, 131, 192);
    border-radius: 30%;
}

/* input::placeholder {
    color: #daa881;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}

input:focus{
    color: #faceac;
}
input{
    color: white;
    font-family: 'Akaya Kanadaka', cursive;
    border-style:ridge;
    border-color:#daa881;
    background-color: #122b28;
    margin: 5px;
    padding: 5px;
} */